*
!.gitignore
!Bruarjokull/
!Bruarjokull/B10_all/**
!Bruarjokull/B13_all/**
!Bruarjokull/B16_all/**
!Bruarjokull/B10_input_2001_2020.nc
!Bruarjokull/B10_merged_2001_2020.nc
!Bruarjokull/B13_input_2001_2020.nc
!Bruarjokull/B13_merged_2001_2020.nc
!Bruarjokull/B16_input_2001_2020.nc
!Bruarjokull/B16_merged_2001_2020.nc
